<%- include("partials/header.ejs") %>

    <body>

        <%- include("partials/navbar.ejs") %>

            <div class="container">
                <div id="form-pergunta" class="card">
                    <div class="card-header">
                        <h3>Formulário de Perguntas</h3>
                    </div>
                    <div class="card-body">

                        <label>Titulo:</label>
                        <input type="text" placeholder="Titulo" class="form-control">
                        <br>
                        <label>Descrição:</label>
                        <input type="textarea" placeholder="Descrição" class="form-control">
                        <br>
                        <button class="btn btn-primary">Perguntar</button>

                    </div>
                </div>
            </div>

    </body>
    <%- include("partials/footer.ejs") %>