<%- include("partials/header.ejs") %>

    <body>

        <%- include("partials/navbar.ejs") %>

            <div class="container">
                <div id="form-pergunta" class="card">
                    <div class="card-header">
                        <h3>Formulário de Perguntas</h3>
                    </div>
                    <div class="card-body">

                        <form method="POST" action="/perguntar">
                            <label>Titulo:</label>
                            <input type="text" placeholder="Titulo" class="form-control" name="title">
                            <br>
                            <label>Descrição:</label>
                            <input type="textarea" placeholder="Descrição" class="form-control" name="desc">
                            <br>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-primary">Perguntar</button>
                        </form>
                    </div>
                </div>
            </div>

    </body>
    <%- include("partials/footer.ejs") %>